*{
    margin : 0 ;
    
    padding: 0; 

}
body{
    background-color: #115583;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
div{

    width: 500px;
    height: 300px;
    background-color:rebeccapurple;
    color: white;
    margin: 10px;
    padding: 20px 10px 30px 30px;
    border: 1px solid #999999;
    border-radius: 25px 0px 25px 0px;
    box-shadow: 2px 2px 5px #c0c2c3;
}